
/* Basic CSS */

q:lang(af) {
    quotes: "\201c" "\201d" "\2018" "\201d";
}
q:lang(agq) {
    quotes: "\0027" "\0027" "\201e" "\201d";
}
q:lang(ak) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}
q:lang(am) {
    quotes: "\00ab" "\00bb" "\2039" "\203a";
}
q:lang(ar) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(asa) {
    quotes: "\0027" "\0027" "\201c" "\201d";
}
q:lang(az) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(bas) {
    quotes: "\00ab" "\00bb" "\201c" "\201e";
}
q:lang(be) {
    quotes: "\201e" "\201d" "\00ab" "\00bb";
}
q:lang(bem) {
    quotes: "\0027" "\0027" "\201c" "\201c";
}
q:lang(bez) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}
q:lang(bg) {
    quotes: "\201e" "\201c" "\2018" "\2019";
}
q:lang(bm) {
    quotes: "\00ab" "\00bb" "\201c" "\201d";
}
q:lang(bn) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(brx) {
    quotes: "\0027" "\0027" "\0022" "\0022";
}
q:lang(bs) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}
q:lang(ca) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}
q:lang(cgg) {
    quotes: "\0027" "\0027" "\201c" "\201e";
}
q:lang(chr) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(cs) {
    quotes: "\201e" "\201c" "\201a" "\2018";
}
q:lang(cy) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}
q:lang(da) {
    quotes: "\201d" "\201d" "\201d" "\201d";
}
q:lang(dav) {
    quotes: "\0027" "\0027" "\201c" "\201d";
}
q:lang(de) {
    quotes: "\201e" "\201c" "\201a" "\2018";
}
q:lang(de-CH) {
    quotes: "\00ab" "\00bb" "\2039" "\203a";
}
q:lang(dje) {
    quotes: "\201c" "\201d" "\00ab" "\00bb";
}
q:lang(dua) {
    quotes: "\00ab" "\00bb" "\0027" "\0027";
}
q:lang(dyo) {
    quotes: "\00ab" "\00bb" "\201c" "\201d";
}
q:lang(dz) {
    quotes: "\0022" "\0022" "\0027" "\0027";
}
q:lang(ebu) {
    quotes: "\0027" "\0027" "\201c" "\201d";
}
q:lang(ee) {
    quotes: "\0027" "\0027" "\201c" "\201c";
}
q:lang(el) {
    quotes: "\00ab" "\00bb" "\2018" "\2019";
}
q:lang(el-POLYTON) {
    quotes: "\00ab" "\00bb" "\201b" "\2019";
}
q:lang(en) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(en-GB) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}
q:lang(es) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}
q:lang(et) {
    quotes: "\201e" "\201c" "\201e" "\201c";
}
q:lang(eu) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(ewo) {
    quotes: "\00ab" "\00bb" "\201c" "\201d";
}
q:lang(fa) {
    quotes: "\00ab" "\00bb" "\2039" "\203a";
}
q:lang(ff) {
    quotes: "\201e" "\201d" "\0027" "\0027";
}
q:lang(fi) {
    quotes: "\201d" "\201d" "\2019" "\2019";
}
q:lang(fil) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(fo) {
    quotes: "\201d" "\201d" "\2019" "\2019";
}
q:lang(fr) {
    quotes: "\00ab" "\00bb" "\201c" "\201d";
}
q:lang(fr-CH) {
    quotes: "\00ab" "\00bb" "\2039" "\203a";
}
q:lang(fur) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}
q:lang(gaa) {
    quotes: "\0027" "\0027" "\0022" "\0022";
}
q:lang(gd) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(gl) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(gsw) {
    quotes: "\00ab" "\00bb" "\2039" "\203a";
}
q:lang(gu) {
    quotes: "\0027" "\0027" "\0022" "\0022";
}
q:lang(guz) {
    quotes: "\0027" "\2018" "\201c" "\201c";
}
q:lang(ha) {
    quotes: "\0027" "\0027" "\201c" "\201c";
}
q:lang(he) {
    quotes: "\201c" "\201d" "\0022" "\0022";
}
q:lang(hi) {
    quotes: "\0027" "\0027" "\0022" "\0022";
}
q:lang(hr) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}
q:lang(hu) {
    quotes: "\201e" "\201d" "\201e" "\201d";
}
q:lang(ia) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}
q:lang(id) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(ig) {
    quotes: "\0027" "\0027" "\201c" "\201d";
}
q:lang(is) {
    quotes: "\201e" "\201c" "\201a" "\2018";
}
q:lang(it) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}
q:lang(it-CH) {
    quotes: "\00ab" "\00bb" "\2039" "\203a";
}
q:lang(ja) {
    quotes: "\300c" "\300d" "\300e" "\300f";
}
q:lang(jmc) {
    quotes: "\0027" "\0027" "\201c" "\201c";
}
q:lang(ka) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(kab) {
    quotes: "\00ab" "\00bb" "\201c" "\201d";
}
q:lang(kam) {
    quotes: "\0027" "\0027" "\201c" "\201d";
}
q:lang(kde) {
    quotes: "\0027" "\0027" "\201c" "\201d";
}
q:lang(kea) {
    quotes: "\201c" "\201d" "\00ab" "\00bb";
}
q:lang(khq) {
    quotes: "\201c" "\201d" "\00ab" "\00bb";
}
q:lang(ki) {
    quotes: "\0027" "\0027" "\201c" "\201d";
}
q:lang(kl) {
    quotes: "\00bb" "\00ab" "\203a" "\2039";
}
q:lang(kln) {
    quotes: "\0027" "\0027" "\201c" "\201d";
}
q:lang(km) {
    quotes: "\0027" "\0027" "\0022" "\0022";
}
q:lang(kn) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(ko) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}
q:lang(ksb) {
    quotes: "\0027" "\0027" "\201c" "\201d";
}
q:lang(ksf) {
    quotes: "\0027" "\0027" "\00ab" "\00bb";
}
q:lang(ksh) {
    quotes: "\201e" "\201c" "\201a" "\2018";
}
q:lang(lag) {
    quotes: "\201d" "\201d" "\0027" "\0027";
}
q:lang(lg) {
    quotes: "\0027" "\0027" "\201c" "\201d";
}
q:lang(ln) {
    quotes: "\0027" "\0027" "\201c" "\201d";
}
q:lang(lo) {
    quotes: "\0027" "\0027" "\0022" "\0022";
}
q:lang(lt) {
    quotes: "\201e" "\201c" "\201e" "\201c";
}
q:lang(lu) {
    quotes: "\2018" "\2018" "\201c" "\201c";
}
q:lang(luo) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}
q:lang(luy) {
    quotes: "\0027" "\0027" "\201e" "\201c";
}
q:lang(lv) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(mas) {
    quotes: "\0027" "\0027" "\201d" "\201c";
}
q:lang(mer) {
    quotes: "\0027" "\0027" "\201c" "\201d";
}
q:lang(mfe) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(mg) {
    quotes: "\00ab" "\00bb" "\201c" "\201d";
}
q:lang(ml) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(mn) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}
q:lang(mr) {
    quotes: "\0027" "\0027" "\0022" "\0022";
}
q:lang(ms) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(mt) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(mua) {
    quotes: "\00ab" "\00bb" "\201c" "\201d";
}
q:lang(my) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(naq) {
    quotes: "\0027" "\0027" "\201c" "\201d";
}
q:lang(nb) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(nd) {
    quotes: "\0027" "\0027" "\201c" "\201d";
}
q:lang(nds) {
    quotes: "\201e" "\201c" "\201a" "\2018";
}
q:lang(ne) {
    quotes: "\0027" "\0027" "\0022" "\0022";
}
q:lang(nl) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}
q:lang(nmg) {
    quotes: "\201c" "\201e" "\00ab" "\00bb";
}
q:lang(nn) {
    quotes: "\00ab" "\00bb" "\201c" "\201d";
}
q:lang(nr) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}
q:lang(nso) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}
q:lang(nus) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(nyn) {
    quotes: "\0027" "\0027" "\201c" "\201e";
}
q:lang(pa) {
    quotes: "\0027" "\0027" "\0022" "\0022";
}
q:lang(pl) {
    quotes: "\2018" "\2019" "\201e" "\201d";
}
q:lang(pt) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(rm) {
    quotes: "\00ab" "\00bb" "\2039" "\203a";
}
q:lang(rn) {
    quotes: "\0027" "\0027" "\201d" "\201d";
}
q:lang(ro) {
    quotes: "\201e" "\201d" "\00ab" "\00bb";
}
q:lang(rof) {
    quotes: "\0027" "\0027" "\201c" "\201c";
}
q:lang(ru) {
    quotes: "\00ab" "\00bb" "\201e" "\201c";
}
q:lang(rw) {
    quotes: "\2018" "\2019" "\00ab" "\00bb";
}
q:lang(rwk) {
    quotes: "\0027" "\0027" "\201c" "\201c";
}
q:lang(saq) {
    quotes: "\0027" "\0027" "\201c" "\201d";
}
q:lang(sbp) {
    quotes: "\0027" "\0027" "\201c" "\201d";
}
q:lang(se) {
    quotes: "\201d" "\201d" "\2019" "\2019";
}
q:lang(seh) {
    quotes: "\0027" "\0027" "\0027" "\0027";
}
q:lang(ses) {
    quotes: "\201c" "\201d" "\00ab" "\00bb";
}
q:lang(sg) {
    quotes: "\00ab" "\00bb" "\201c" "\2019";
}
q:lang(shi) {
    quotes: "\00ab" "\00bb" "\201e" "\201d";
}
q:lang(shi-Tfng) {
    quotes: "\00ab" "\00bb" "\201e" "\201d";
}
q:lang(sk) {
    quotes: "\201a" "\2018" "\201e" "\201c";
}
q:lang(sl) {
    quotes: "\00bb" "\00ab" "\201e" "\201c";
}
q:lang(sn) {
    quotes: "\0027" "\0027" "\201d" "\201d";
}
q:lang(so) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(sr) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(ss) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}
q:lang(st) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}
q:lang(sv) {
    quotes: "\201d" "\201d" "\2019" "\2019";
}
q:lang(sw) {
    quotes: "\0027" "\0027" "\0027" "\0027";
}
q:lang(swc) {
    quotes: "\0027" "\0027" "\201d" "\201c";
}
q:lang(ta) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(te) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(teo) {
    quotes: "\0027" "\2019" "\201c" "\201d";
}
q:lang(tg) {
    quotes: "\00ab" "\00bb" "\00ab" "\201e";
}
q:lang(th) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(ti-ER) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}
q:lang(tn) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}
q:lang(to) {
    quotes: "\201c" "\201d" "\00ab" "\00bb";
}
q:lang(tr) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(trv) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(ts) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}
q:lang(twq) {
    quotes: "\201c" "\201d" "\00ab" "\00bb";
}
q:lang(tzm) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}
q:lang(uk) {
    quotes: "\00ab" "\00bb" "\201e" "\201c";
}
q:lang(ur) {
    quotes: "\0022" "\0022" "\0027" "\0027";
}
q:lang(vai) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}
q:lang(vai-Latn) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}
q:lang(ve) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}
q:lang(vi) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(vun) {
    quotes: "\0027" "\0027" "\201c" "\201c";
}
q:lang(wae) {
    quotes: "\00ab" "\00bb" "\2039" "\203a";
}
q:lang(xh) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}
q:lang(xog) {
    quotes: "\0027" "\0027" "\201c" "\201e";
}
q:lang(yav) {
    quotes: "\00ab" "\00bb" "\00ab" "\00bb";
}
q:lang(yo) {
    quotes: "\0027" "\0027" "\0027" "\0027";
}
q:lang(zh) {
    quotes: "\201c" "\201d" "\2018" "\2019";
}
q:lang(zh-Hant) {
    quotes: "\300c" "\300d" "\300e" "\300f";
}
q:lang(zu) {
    quotes: "\2018" "\2019" "\201c" "\201d";
}

/* GUI */

@media screen {

    #status-bar {
        display: block;
        position: fixed;
        max-width: 90%;
        bottom: 2px;
        left: 2px;
        color: #000;
        background: #efefef;
        padding: 0 4px;
        border: none;
        border-radius: 2px;
        font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Tahoma, Ubuntu, Helvetica, Arial, DejaVu Sans, Liberation Sans, sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        z-index: 1000;
        zoom: reset;
        user-select: none;
        -webkit-user-select: none;
    }

    #status-bar .secondary-text {
        opacity: 0.5;
    }

    #generated-toc {
        display: block;
        position: fixed;
        max-height: 90%;
        width: 380px;
        overflow-y: auto;
        right: 20px;
        bottom: 10px;
        background: rgba(0, 0, 0, 0.8);
        padding: 20px 20px 40px 20px;
        border: none;
        border-radius: 3px;
        text-align: left;
        z-index: 1010;
        box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.4);
        zoom: reset;
        user-select: none;
        -webkit-user-select: none;
    }

    #generated-toc::-webkit-scrollbar {
        width: 8px;
    }

    #generated-toc::-webkit-scrollbar-track {
        background: transparent;
        margin: 0 0;
    }

    #generated-toc::-webkit-scrollbar-track:disabled {
        display: none;
    }

    #generated-toc::-webkit-scrollbar-thumb {
        border-radius: 4px;
        min-height: 40px;
        -webkit-transition: background .2s;
        transition: background .2s;
        background: rgba(256, 256, 256, 0.2);
    }

    #generated-toc::-webkit-scrollbar-thumb:hover {
        -webkit-transition: background .2s;
        transition: background .2s;
        background: rgba(256, 256, 256, 0.4);
    }

    #generated-toc div.toc-h1 {
        margin-left: 0px;
    }

    #generated-toc div.toc-h2 {
        margin-left: 10px;
    }

    #generated-toc div.toc-h3 {
        margin-left: 20px;
    }

    #generated-toc div.toc-h4 {
        margin-left: 30px;
    }

    #generated-toc div.toc-h5 {
        margin-left: 40px;
    }

    #generated-toc div.toc-h6 {
        margin-left: 50px;
    }

    #generated-toc a {
        display: block;
        text-decoration: none !important;
        border: none !important;
        outline: none !important;
        color: #fff !important;
        width: 320px;
        font-size: 14px;
        line-height: 1.4;
        padding: 5px 0;
        font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Tahoma, Ubuntu, Helvetica, Arial, DejaVu Sans, Liberation Sans, sans-serif;
        background: none !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #generated-toc a:hover, #generated-toc a:focus {
        color: #96dcff !important;
    }

    #generated-toc a#generated-toc-hide-toc {
        display: block;
        position: fixed;
        max-width: 50px;
        bottom: 15px;
        right: 30px;
        padding: 2px;
        text-align: center;
        z-index: 1000;
        cursor: pointer;
        -webkit-transition: opacity .2s;
        transition: opacity .2s;
        opacity: 0.25 !important;
    }

    #generated-toc a#generated-toc-hide-toc:hover {
        color: #fff !important;
        -webkit-transition: opacity .2s;
        transition: opacity .2s;
        opacity: 1 !important;
    }

}

@media print {

    #status-bar, #generated-toc {
        display: none !important;
    }

}

