
html {
    font-size: 12pt;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Tahoma, Ubuntu, Helvetica, Arial, DejaVu Sans, Liberation Sans, sans-serif;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    text-align: left;
    padding-left: 2.5%;
    padding-right: 2.5%;
    color: #24292e;
    background-color: #fff;
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;
}

p {
    line-height: 1.5;
    vertical-align: baseline;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

q {
    quotes: "“" "”";
}

h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 1.8rem;
    margin-bottom: 1rem;
}

h1, h2, h3 {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 1px;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.3rem;
}

h6 {
    font-size: 1.3rem;
}

hr {
    width: 100%;
    height: 1px;
    color: #cccccc;
    border: none;
    background-color: #cccccc;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

a {
    color: #0366d6;
    padding-bottom: 0;
    text-decoration: none;
    -webkit-transition: border-bottom .2s ease-in-out;
    transition: border-bottom .2s ease-in-out;
}

a[href^="#"] {
    color: #0366d6;
}

a:hover, a:active {
    border-bottom: 1px solid;
}

a[class^="footnote"] {
    color: #0366d6;
    border-style: none;
}

a img {
    border: none;
    outline: none;
}

abbr[title] {
    border-bottom: 1px dotted #cccccc;
}

sub, sup {
    height: 0;
    font-size: 80%;
}

pre, code, tt, kbd, samp {
    font-size: 100%;
    font-family: SFMono-Regular, Consolas, Ubuntu Mono, DejaVu Sans Mono, Source Code Pro, Liberation Mono, Menlo, Courier, monospace;
    tab-size: 4;
}

pre {
    border-radius: 0.1rem;
    background-color: #f6f8fa;
    padding: 0.8rem 1rem;
    overflow: auto;
    white-space: pre !important;
    word-wrap: normal;
}

code {
    border-radius: 0.1rem;
    background-color: #f7f7f7;
    padding: 0rem 0.2rem;
    white-space: pre-wrap !important;
}

pre > code, code > pre {
    border: none;
    padding: 0rem;
    line-height: 1.5;
    overflow-x: scroll;
    background: transparent;
    white-space: pre !important;
}

table.sourceCode pre {
    border: none;
    line-height: 1.5;
}

h1 > code, h2 > code, h3 > code {
    font-size: 0.8em;
}

kbd {
    border: 1px solid #c6cbd1;
    border-radius: 0.2rem;
    background-color: #fafbfc;
    padding: 0.1rem 0.2rem;
    white-space: pre !important;
}

small {
    font-size: 90%;
}

dl {
    margin-left: 1rem;
}

ul {
    list-style-type: outside disc;
}

ol {
    list-style-type: outside decimal;
}

ol ol, ul ol {
    list-style-type: lower-roman;
}

ul ul ol, ul ol ol, ol ul ol, ol ol ol {
    list-style-type: lower-alpha;
}

ul ul, ul ol {
    margin-top: 0;
    margin-bottom: 0;
}

ol ol, ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

li > p {
    margin-bottom: 0;
}

li p + p {
    margin-top: 0.5rem;
}

dl dt {
    margin-top: 0.5rem;
    font-weight: 700;
}

cite {
    font-style: italic;
}

blockquote {
    display: block;
    margin: 0.5rem 0;
    padding: 0 0.8rem;
    border-left: 4px solid #dfe2e5;
}

blockquote > :first-child {
    margin-top: 1rem;
}

blockquote > :last-child {
    margin-bottom: 1rem;
}

blockquote blockquote {
    padding-right: 0;
}

img, video, object, embed {
    max-width: 100%;
    box-sizing: border-box;
}

figure, div.figure {
    margin: 1.2rem auto;
    text-align: center;
}

figure figcaption, div.figure p.caption {
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    text-align: center;
    margin: 0.5rem auto;
}

table {
    width: auto;
    overflow: auto;
    margin: 0 auto;
    line-height: 1.4;
    border: 1px solid #dfe2e5;
    border-collapse: collapse;
    border-spacing: 0rem;
}

table th {
    height: 2rem;
    font-weight: 400;
    background-color: #f6f8fa;
}

table td {
    height: 2rem;
}

table th, td {
    padding: 0.1rem 0.4rem !important;
    vertical-align: center;
    border: 1px solid #dfe2e5;
}

tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.02);
}

tbody tr:nth-child(odd) {
    background-color: rgba(246, 248, 250, 0.02);
}

table caption {
    caption-side: top;
    font-style: normal;
    text-align: center;
    font-weight: normal;
    font-size: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
    border-style: none;
}

.subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
    border-style: none;
}

.author {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-style: none;
}

.date {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-style: none;
}

input[type=checkbox] {
    -webkit-appearance: none;
}

input[type=checkbox]:before {
    display: inline-block;
    content: "";
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZBAMAAAA2x5hQAAAAIVBMVEUAAABmZmZqamptbW1ubm5vb2/BwcHl5eXx8fHy8vL///+ol58WAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfjAgUPLjFAny71AAAARElEQVQY02NgYFEUhAAVBgYG5rCKDggoC2ZgYJ21CgamMjC4wTmrljkwqCN4yxUYJBC8FQLDgofqP1S/o4YLapihhCcAnyOpEXgKfjMAAAAASUVORK5CYII=);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    -webkit-user-select: none;
}

input[type=checkbox]:checked:before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAMAAADzN3VRAAAAnFBMVEUAAAAvg/swg/owg/sxg/sxhPwzhfs1hvs3h/s4iPs9i/s+i/tEj/tNlPtPlftRl/tSl/thoPtioPtwqftyqvt2rPt3rft5rvuKuPuOu/uSvfuTvfuZwfqawvquzfqwz/qy0Pq71fq81vrC2frD2vrJ3frX5frZ5vrd6frh7Prj7Pro7/rp8Prq8frs8vrv8/r09/r19/r5+vr6+vpCltfIAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAADwsAAA8LAZ5CCHgAAAAHdElNRQfjAgUPLTr8YKS+AAAAo0lEQVQoz32S6Q7CMAyDw8oYAwrjvhk346b4/d+NAhpS1wT//aQ4sUNEFKiiAnorLCtfpdASDljEjcoHKkk+SRZ9nlT2uPJkBKxZ0rjjoVmyBGbsBh3gGDuk9rNH19l6Zca5/ca95wIMv/ZGu2TwhGl/7OfFDKbATVv7U+ylkwLZAej5uUU7WG25ROsZYJps1vqMidBCteX2I3cq/8Gf35H+7QX1QRMYbiV6WgAAAABJRU5ErkJggg==);
}

.contains-task-list .task-list-item {
    list-style-type: none !important;
}

.task-list-item input[type=checkbox] {
    margin-right: 0.4rem;
    margin-left: -1.4rem;
}

.tag {
    color: #333;
    background-color: rgba(245, 245, 233, 0.8);
    padding: 0.1rem 0.4rem;
    border: none;
    border-radius: 0.2rem;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Tahoma, Ubuntu, Helvetica, Arial, DejaVu Sans, Liberation Sans, sans-serif;
    font-size: 98%;
}

div.todo, div.warning, div.note, div.tip {
    display: block;
    margin: 0.5rem auto;
    padding: 0.1rem 1rem;
}

div.todo {
    border-left: 4px solid #d93025;
    background: #fce8eb;
    color: #d93025;
}

div.warning {
    border-left: 4px solid #fa7b17;
    background: #feefe3;
    color: #fa7b17;
}

div.note {
    border-left: 4px solid #1a73e8;
    background: #e8f0fe;
    color: #1a73e8;
}

div.tip {
    border-left: 4px solid #a142f4;
    background: #f3e8fd;
    color: #a142f4;
}

p, li, th, td, caption, figcaption {
    hyphens: auto;
    -webkit-hyphens: auto;
}

::selection {
    background-color: rgba(209, 232, 255, 0.8);
}

@media print {

    html {
        font-size: 12pt;
    }

    body {
        margin: 2rem 2rem;
        min-width: none;
        max-width: none;
        background-color: transparent;
        overflow: visible;
        float: none !important;
    }

    h1, h2, h3, h4, h5, h6 {
        page-break-after: avoid !important;
    }

    p, li {
        orphans: 3;
        widows: 3;
    }

    a {
        text-decoration: none !important;
        border-style: none !important;
    }

    p a[href]:after, li a[href]:after {
        content: " (" attr(href) ")" !important;
        word-wrap: break-word !important;
    }

    a[href=""]:after, a[href^="#"]:after {
        display: none !important;
    }

    a[href^="#fnref"] {
        display: none !important;
    }

    abbr[title] {
        border-bottom: none !important;
    }

    pre > code, code > pre {
        white-space: pre-wrap !important;
        overflow: visible;
    }

    img {
        max-width: 160mm !important;
        max-height: 220mm !important;
    }

    figure, div.figure {
        page-break-inside: avoid !important;
    }

}

